.cast-outer-container {
  position: relative;
}
.cast-outer-container .fade {
  width: 20px;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.cast-container {
  display: flex;
  overflow: scroll;
}

.cast-container .spacer {
  padding-right: 20px;
}

.cast-item {
  flex-shrink: 0;
  margin-right: 10px;
  width: 100px;
}
.cast-item img {
  border-radius: 5px;
}
.cast-item .name {
  font-weight: bold;
  padding: 10px 5px 15px;
}
