.App {
  max-width: 960px;
  padding: 0 30px;
  margin: 0 auto;
}

.App-header {
  margin-bottom: 40px;
}

.App-header a:link,
.App-header a:visited,
.App-header a:active {
  text-decoration: none;
  color: black;
}
